::selection {
  background: #528;
  color: pink;
}

:root {
  color: #528;
  background: lemonchiffon;
  background-image: linear-gradient(peachpuff, #bae, skyblue);
}

@media (prefers-contrast: more) {
  :root {
    color: #213;
  }
}

:any-link {
  color: inherit;
  outline-color: currentColor;
}

:focus {
  outline-color: invert;
}
