::selection {
  background: salmon;
  color: #212;
}

:root {
  color: #528;
  background: peachpuff;
  background: lemonchiffon;
  background: #f8f888;
  background-image: linear-gradient(lemonchiffon, #f8f888);
}

@media (prefers-contrast: more) {
  :root {
    color: #212;
  }
}

:any-link {
  color: #50a;
  outline-color: #50a;
  background: salmon;
}
